<div mat-dialog-title>
    <h1>Product Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput type="text" formControlName="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Descripcion</mat-label>
                <input matInput formControlName="description">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Valor</mat-label>
                <input matInput type="text" formControlName="valor">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Url producto</mat-label>
                <input matInput type="text" formControlName="imageURL">
            </mat-form-field>
        </div>

    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar': 'Save'}}</button>
    </div>
</form>